# API Configuration
REACT_APP_ANALYTICS_BASE_URL=https://f5le0z2f39.execute-api.us-east-1.amazonaws.com/dev/analytics
REACT_APP_INGEST_BASE_URL=https://f5le0z2f39.execute-api.us-east-1.amazonaws.com/dev
REACT_APP_ANALYTICS_API_KEY=3M9yMIH8FCYUF7ATzgg7mIlkFOsRiB46KiExY450
REACT_APP_INGEST_API_KEY=FYCbauyxRO6UGZREyB77c9BXie6csqDR3FgtjljM

# Development Settings
REACT_APP_ENVIRONMENT=development
REACT_APP_DEBUG=true

# Feature Flags
REACT_APP_ENABLE_REAL_TIME=true
REACT_APP_ENABLE_DEVTOOLS=true

# Axios Configuration
REACT_APP_API_TIMEOUT=10000
REACT_APP_RETRY_ATTEMPTS=3
